$colors: (
        primary: #E61752,
        warning: #FFC619,
        secondary: #CFCFCF,
        success: #77E416,
        dark: #707070,
        black: #000000,
        light: #ffffff,
        darken: #101010
);

* {
    font-family: 'Roboto', sans-serif;
}

//buttons

@mixin button($background, $text) {
    background-color: map_get($colors, $background);
    color: map_get($colors, $text);

    position: relative;
    &:hover{
        transition: 0.1s linear;
        box-shadow: inset 0 0 100px 100px rgba(0,0,0, 0.2);
    }
    &:after{
        content: "";
        position: absolute;
        display: block;
        border-radius: 5px;
        bottom: 0;
        left: 0;
        width: 1%;
        height: 100%;
        opacity: 0;
        background-color: white;
    }
    &:active{
        transform: scale(1.02);
        &:after{
            opacity: 0.05;
            width: 100%;
            transition: 0.5s;
        }
    }

}

.btn {
    border: none;
    border-radius: 5px;
    padding: 8px 35px;
    font-size: 22px;
    outline: none;
    cursor: pointer;
}

.btn-primary{
    @include button(primary, light);
}

.btn-default{
    @include button(darken, light);
}
